@import forms.SignInForm.Data
@import helper._
@import play.api.data.Form
@import play.api.i18n.Messages

@(signInForm: Form[Data])(implicit request: RequestHeader, messages: Messages, flash: Flash)

@main("Sign In") {
  @form(action = routes.SignInController.submit()) {
    @CSRF.formField
    @inputText(signInForm("email"), '_label -> "Email", '_showConstraints -> false)
    @inputPassword(signInForm("password"), '_label -> "Password", '_showConstraints -> false)
    <div>
      <button type="submit" value="submit">Submit</button>
    </div>
    <a href="@controllers.routes.SignUpController.view">Create Account</a>
  }
}
