@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import forms.SignInForm.Data
@import helper._
@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(signInForm: Form[Data], socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, flash: Flash)


@main("Sign In") {
  @flash.get("error").map { msg =>
    <div>
      <strong>@msg</strong>
    </div>
  }
  @form(action = routes.SignInController.submit()) {
    @CSRF.formField
    @inputText(signInForm("email"), '_label -> "Email", '_showConstraints -> false)
    @inputPassword(signInForm("password"), '_label -> "Password", '_showConstraints -> false)
    <div>
      <button type="submit" value="submit">Submit</button>
    </div>
    <a href="@controllers.routes.SignUpController.view">Create Account</a>
  }

  @if(socialProviders.providers.nonEmpty) {
    <div class="social-providers">
      <p>Use Existing Account to Sign-In</p>
      <div>
        @for(p <- socialProviders.providers) {
        <a href="@controllers.routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@messages(p.id)">@p.id.capitalize login</a>
        }
      </div>
    </div>
  }
}
